
html {
  height: 100vh;
}
:root{
  --color-fondo: rgb(255, 255, 255);
  --color-menu: rgb(255,255,255);

  --imagen-fondo: url('https://img.freepik.com/fotos-premium/fondo-blanco-rematado-muchos-recursos-graficos-hojas-verdes_131346-1507.jpg');

  --color-texto-menu: rgb(0,0,0);

  --color-icon: rgb(47, 156, 47);

  --color-menu-hover:rgb(210, 255, 216);
  --color-menu-hover-texto:rgb(0,0,0);

  --color-linea:rgb(156, 156, 156);

  --color-icon-boton:rgb(255, 131, 55);

  --color-fondo-boton:rgb(255, 172, 121);

  --color-scroll:rgb(192,192,192) ;
  --color-scroll-hover:rgb(134,134,134) ;

  --color-eliminar: rgb(228, 125, 125) ;
  --color-modificar: rgb(63, 192, 63);

  --color-borde-card: rgb(0,0,0);

  --color-texto: rgb(129, 128, 128);
}
.modo-autumn{
  --color-fondo: rgb(0, 0, 0);
  --color-menu: rgb(0,0,0);

  --imagen-fondo: url('https://png.pngtree.com/thumb_back/fw800/background/20231102/pngtree-aromatic-blend-exquisite-composition-of-dried-herbal-tea-spices-fruits-hibiscus-image_13794222.png');

  --color-texto-menu: rgb(255,255,255);

  --color-icon: rgb(212, 91, 18);

  --color-menu-hover:rgb(87, 33, 0);
  --color-menu-hover-texto:rgb(255,255,255);

  --color-linea:rgb(255,255,255);

  --color-icon-boton:rgb(108, 194, 87);

  --color-fondo-boton:rgb(17, 65, 5);

  --color-scroll:rgb(68,69,74) ;
  --color-scroll-hover:rgb(85,85,85) ;

  --color-eliminar: rgb(145, 19, 14);
  --color-modificar: rgb(17, 65, 5);

  --color-borde-card: rgb(255,255,255);

  --color-texto: rgb(180, 180, 180);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100vh;
  width: 100wh;
  background-color: var(--color-fondo);
}
/*Barra arriba*/
.menuA{
  position:fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-icon);
  color:var(--color-texto-menu);
  right: 15px;
  top: 15px;
  z-index: 100;
}
/*Barra lateral*/
.menu{
  position: fixed;
  border-right: 0.5px solid var(--color-icon);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
  height: 100%;
  padding: 20px 15px ;
  background-color: var(--color-menu);
  transition: width 0.5s ease;
  overflow: hidden;
  transition: width 0.5s ease, background-color 0.3s ease, left 0.5s ease;
  z-index: 50;
}

.menu-peque{
  width: 70px;
  height: 100%;
  padding: 20px 15px ;
  background-color: var(--color-menu);
}
.menu span{
  font-size: 17px;
  margin-left: 3px;
  color: var(--color-texto-menu);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.menu span.oculto{
  opacity: 0;
}
/*nombre de la pagina*/
.menu .nombreE{
  margin-bottom: 30px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.menu img{
  min-width: 35px;
  width: 45px;
  cursor: pointer;
}
.menu .nombreE span {
  margin-left: 5px;
  font-size: 25px;
  text-align: center;
  color: var(--color-texto-menu);
}

/*Opciones*/
.menu .opciones{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.menu .opciones::-webkit-scrollbar{
  width: 5px;
}
.menu .opciones::-webkit-scrollbar-thumb{
  background-color: var(--color-scroll);
  border-radius: 5px;
}
.menu .opciones::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-scroll-hover);
}
.menu .opciones li{
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}
.menu .opciones a{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-texto-menu);
}
.menu .opciones a:hover{
  background-color: var(--color-menu-hover);
}
.menu .opciones ion-icon{
  min-width: 30px;
  font-size: 20px;
  color: var(--color-icon);
}
.menu .linea{
  width: 100%;
  height: 1px;
  margin-top: 15px;
  background-color: var(--color-linea);
}
/*Modo otoño*/
.menu .modo-otoño button {
  border: none;
  background-color: var(--color-menu);
  width: 100%;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.menu .modo-otoño ion-icon{
  min-width: 30px;
  font-size: 20px;
  color: var(--color-icon-boton);
}
.menu .modo-otoño button:hover{
  background-color: var(--color-fondo-boton);
}
.menu .usuario{
  margin-top: 5px;
  height: 45px;
  border: 2px solid red ;
  width: 100%;
  display: flex;
}
.menu .usuario img{
  border: 2px solid green;
  width: 50px;
  min-width: 50px;
  border-radius: 10px;
}
.menu .usuario .info-usuario{
  border: 2px solid green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-texto-menu);
  overflow: hidden;
}
.menu .usuario .nombre-email{
  border: 2px solid coral;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.menu .usuario .nombre{
  font-size: 15px;
  font-weight: 600;

}
.menu .usuario .email{
  font-size: 13px;
}
.menu .usuario ion-icon{
  font-size: 20px;
}

/*main*/
.active{
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}
main{
  margin-left: 210px;
  padding: 20px;
  transition: margin-left 0.5s ease;
}
main.min-main{
  margin-left: 70px;
}
main .center{
  text-align: center;
}

/*Card*/
.card-container {
  display: flex;
  flex-wrap: wrap; /* Para que los cards puedan envolverse si no caben todos en una línea */
  justify-content: center; /* Para alinear horizontalmente los elementos al centro */
  align-items: center;
}
.card {
  width: 150px;
  border: 1px solid var(--color-borde-card);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block; /* Mostrar las tarjetas una al lado de la otra */
  margin: 10px; /* Espacio entre las tarjetas */
  text-align: center;
}
.card img {
  width: auto;
  height: 100px;
}
.card-body {
  padding: 20px;
}
.card-title {
  margin-top: 0;
  margin-bottom: 5px;
}
/*Botones*/
button{
  cursor: pointer;
}
.botones{
  display: flex;
}
.btn-modificar {
  width: 50%;
  padding: 8px 16px;
  border: 0.5px solid;
  border-color: var(--color-modificar);
  color: var(--color-menu-hover-texto);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-eliminar {
  width: 50%;
  padding: 8px 16px;
  border: 0.5px solid;
  border-color: var(--color-eliminar);
  color: var(--color-menu-hover-texto);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-modificar:hover {
  background-color: var(--color-modificar);
}
.btn-eliminar:hover {
  background-color: var(--color-eliminar);
}

/*modal*/
.modal {
  display: none; /* Por defecto, estará oculto */
  position: fixed; /* Posición fija */
  z-index: 1; /* Se situará por encima de otros elementos de la página*/
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Algura completa */
  overflow: auto; /* Se activará el scroll si es necesario */
  background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}
.contenido-modal {
  margin-left: 210px;
  position: fixed;
  top: 50%; /* Posición vertical al 50% */
  left: 50%; /* Posición horizontal al 50% */
  transform: translate(-50%, -50%); /* Centrar el contenido usando transform */
  background-color: var(--color-menu);
  padding: 20px;
  width: 300px;
  border-color: (var(--color-icon));
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s;
  border-top: 10px solid var(--color-icon); /* Borde superior */
  border-bottom: 10px solid var(--color-icon); /* Borde inferior */
  color: var(--color-texto-menu);
}
.contenido-modal .head{
  display: flex;
  align-items: center;
}
.contenido-modal .head .h3{
  margin-right: auto;
}
.contenido-modal .head .cerrar{
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-icon);
}
.contenido-modal .form-label{
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.contenido-modal .form-control{
  width: 100%;
  font-size: 14px;
  border: 0.5px solid var(--color-texto-menu);
  border-radius: 5px;
  margin-bottom: 8px;
  height: 25px;
  align-items: end;
  padding-top: 0;
  padding-bottom: 0;
}

.contenido-modal textarea.form-control {
  height: auto; 
  min-height: 50px;
  line-height: 1.5; 
}

.contenido-modal .form-control::placeholder,
.contenido-modal .form-control {
  vertical-align: bottom;
}
select{
  width: 100%;
  font-size: 14px;
  border: 0.5px solid var(--color-texto-menu);
  border-radius: 5px;
  margin-bottom: 8px;
  background-color: transparent;
  height: 25px;
}
.contenido-modal .añadir{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.contenido-modal .head .cerrar{
  background-color: transparent;
  border: none;
}
.head .cerrar ion-icon {
  font-size: 24px; /* Tamaño del icono en píxeles */
}
/*text*/
h1, h2{
  padding-bottom: 20px;
  text-align: center;
  color: var(--color-texto-menu);
}
h3, h4, h5{
  padding-bottom: 7px;
  text-align: center;
  color: var(--color-texto-menu);
}
/*Responsive alto*/
@media (max-height:660px){
  .menu .nombreE{
    margin-bottom: 12px;
  }
  .menu .modo-otoño{
    margin-top: 5px;
  }
}
/*Responsive ancho*/
@media (max-width:600px){
  .menu {
    position: fixed;
    left: -250px;
  }
  .max-menu{
    left: 0;
  }
  .menuA{
    display: flex;
  }
  .menuA ion-icon:nth-child(2){
    display: none;
  }
  main{
    margin-left: 0;
  }
  main.min-main{
    margin-left: 0;
  }
  .cambiar svg{
    height: 50px;
  }
  .botar svg{
height: 50px;
  }
}
@keyframes animarsuperior {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.abrirModal{
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
}
.abrirModal ion-icon{
  width: 100%;
  height: 100%;
  color: var(--color-texto-menu);
}
.cambiar{
  position: fixed;
  bottom: 20px;
  height: 120px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cambiar h4{
  color: var(--color-texto);
}
.cambiar svg{
  fill: var(--color-texto);
  width: auto;
  height: 100px;
  min-height: 50px;
}
.texto{
  position: fixed;
  bottom: 60px;
  left: 50%;
  color: var(--color-texto);
}
.botar {
  position: fixed;
  bottom: 25px;
  right: 20px; 
  height: 120px;
  width: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.botar h4{
  color: var(--color-texto);
}
.botar svg{
  fill: var(--color-texto);
  width: auto;
  height: 100px;
  min-height: 50px;
}
.dragging {
  opacity: 0.5; /* Reduce la opacidad mientras se está arrastrando */
}