
html {
  height: 100vh;
}
:root{
  --color-1: #0d0f21;
  --color-2: #041f1e;
  --color-3: #6f6c81;
  --color-4: #ffe8d8;
  --color-5: #e09a73;
  --color-6: #ab595e;
  --color-7: #79352f;
  --color-8: #da2454;
}

/*Letras en mayusculas h1, h2, h3 y h4*/
h1,
h2,
h3,
h4, h5 {
  text-transform: uppercase;
}

/*Fonts h1, h2, h3 y h4*/
h1 {
  font-size: 2.7vw;
}

h2 {
  font-size: 2.5vw;
}

h3 {
  font-size: 2.3vw;
}

h4 {
  font-size: 2.1vw;
}

h5 {
  font-size: 1.9vw;
}

p, a {
  font-size: 1.7vw;
}

/*Letra, sin margin, ni padding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

/*Body*/
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-4);
  color: var(--color-1);
  overflow-x: hidden;
}
/*Codigo del menu*/
/*Barra arriba*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  background-color: var(--color-4); /* Adjust as needed */
  border-bottom: 1px solid var(--color-1); /* Border under the menu */
  z-index: 50;
}

.menu .nombreE {
  margin-top: 6px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu img  {
  top: 5px;
  width: 1.9vw;
  height: 2.2vw;
  margin-right: 10px;
}

.menu .opciones ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu .opciones li {
  margin-right: 7px;
}

.menu .opciones a {
  text-decoration: none;
  font-size: 1.7vw;
  transition: color 0.3s ease;
}

.menu .opciones a:hover {
  color: var(--color-3);
}

.menu .usuario {
  display: flex;
  align-items: center;
}

.menu .usuario img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  margin-right: 10px;
}

.menu .usuario .info-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-texto-menu);
}

.menu .usuario .nombre-email {
  margin-right: 10px;
  align-items: center;
  justify-content: center;

}

.menu .usuario .nombre {
  font-size: 1.4vw;
}

.menu .usuario .email {
  font-size: 1vw;
}

.nombre-email {
  display: block;
}

.nombre, .email {
  display: block;
}

/*main*/
.active{
  background-color: var(--color-7);
  color: var(--color-4);
}
main{
  margin-top: 2.7vw;
  padding: 1%;
  transition: margin-left 0.5s ease;
}

main .center{
  text-align: center;
}

.card {
  width: 12vw;
  height: auto;
  border: 1px solid var(--color-4);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block; /* Mostrar las tarjetas una al lado de la otra */
  margin: 1%; /* Espacio entre las tarjetas */
  margin-right: 20px; /* Espacio entre las tarjetas */
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*Card Univ*/
.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
}

.card img {
  width: auto;
  height: 10vw;
  border-radius: 8px 8px 0 0; /* Ajuste de borde para la imagen */
}
.card-body {
  padding: 10px;
}
.card-title {
  margin-top: 0;
  margin-bottom: 1vw;
}
/* Estilo para las filas de carreras */
.university-row {
  display: flex;
  flex-wrap: nowrap; /* Evitar que las tarjetas se envuelvan en una sola fila */
  margin-bottom: 20px; /* Espacio entre las filas de universidades */
  justify-content: center;
}
.university-title{
  top: 0px;
  text-decoration: underline;
  font-size: 1.8vw;
  color: var(--color-7);
}

/*Botones*/
button{
  cursor: pointer;
}
.botones{
  display: flex;
}
.btn-modificar {
  font-size: 1.2vw;
  padding: 8px 16px;
  border: 0.5px solid;
  border-color: var(--color-7);
  color: var(--color-2);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-eliminar {
  font-size: 1.2vw;
  padding: 8px 16px;
  border: 0.5px solid;
  border-color: var(--color-3);
  color: var(--color-2);
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-modificar:hover {
  background-color: var(--color-6);
  color: var(--color-4);
}
.btn-eliminar:hover {
  background-color: var(--color-2);
  color: var(--color-4);
}

/*modal*/
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

/* Estilo para el contenido del modal */
.contenido-modal {
  position: fixed;
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%);
  background-color: var(--color-5);
  border-radius: 8px;
  width: 30%; /* Ancho del modal */
  height: auto;
  z-index: 10000; /* Asegura que esté por encima del fondo oscuro */
  border-top: 10px solid var(--color-7); /* Borde superior */
  border-bottom: 10px solid var(--color-7); /* Borde inferior */
  color: var(--color-1);
  padding: 5px;
}

.contenido-modal .head{
  display: flex;
  align-items: center;
}
.contenido-modal .head .h5{
  margin-right: auto;
}
.contenido-modal .head .cerrar{
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-1);
  font-size: 3vw;
}
.contenido-modal .form-label{
  display: block;
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
}
.contenido-modal .form-control{
  width: 100%;
  font-size: 1.2vw;
  border: 0.5px solid var(--color-1);
  border-radius: 5px;
  margin-bottom: 0.5vw;
  height: 1.5vw;
  align-items: end;
  padding-top: 0;
  padding-left: 2px;
  padding-bottom: 0;
}

.contenido-modal textarea.form-control {
  height: auto; 
  line-height: 1.5; 
}

.contenido-modal .form-control::placeholder,
.contenido-modal .form-control {
  vertical-align: bottom;
}
select{
  width: 100%;
  font-size: 1.2vw;
  border: 0.5px solid var(--color-1);
  border-radius: 5px;
  margin-bottom: 0.5vw;
  background-color: transparent;
  height: 1.6vw;
  background-color: white; /* Fondo blanco para las opciones */
  color: var(--color-1);
}
select option {
  background-color: white; /* Fondo blanco para las opciones */
  color: var(--color-1);
}
.contenido-modal .añadir{
  margin-top: 5px;
  display: flex;
  justify-content: center;
}
.contenido-modal .head .cerrar{
  background-color: transparent;
  border: none;
}
.head .cerrar ion-icon {
  font-size: 1.2vw; /* Tamaño del icono en píxeles */
}

.abrirModal{
  background-color: transparent;
  border: none;
  height: 5vw;
  width: 5vw;
}
.abrirModal ion-icon{
  width: 100%;
  height: 100%;
  color: var(--color-texto-menu);
}
.cambiar{
  position: fixed;
  bottom: 5px;
  height: 8vw;
  left: 5px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cambiar h5{
  color: var(--color-7);
}
.cambiar svg{
  fill: var(--color-7);
  width: 8vw;
}
.botar {
  position: fixed;
  bottom: 5px;
  right: 5px; 
  height: 8vw;
  width: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.botar h5{
  color: var(--color-7);
}
.botar svg{
  fill: var(--color-7);
  width: 8vw;
}
.dragging {
  opacity: 0.5; /* Reduce la opacidad mientras se está arrastrando */
}

/*scrollbar*/
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-7);
  border-radius: 20px;
}
.center{
  align-items: center;
}
/*Datos de excel*/
/* Estilos para el contenedor */
.contenidoT {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 2px;
  height: 2vw;
  margin-bottom: 2vw;
}

/* Estilos para el labelExcel */
.labelExcel {
  margin-left: 5%;
  margin-top: 2px;
  width: 16%; 
  height: 2vw;
  box-sizing: border-box; 
  font-size: 1.6vw;
  align-items: end;
}
.selectM{
  height: 2vw;
}
/*celdas*/
.contTable {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 90%;
}
th, td {
  border: 1px solid var(--color-1);
  padding: 2px;
  text-align: center;
  outline: none; /* Evitar el contorno al editar */
}
th {
  background-color: var(--color-7);
  color: var(--color-4);
}
td {
  border: 1px solid var(--color-1);
  cursor: pointer; /* Mostrar cursor al pasar sobre las celdas */
  height: 3vw;
  font-size: 1.5vw;
  align-items: start;
}
.botonT{
  margin-top: 5px;
  width: 95%;
  text-align: end;
}
.enviarT{
  background-color: var(--color-7);
  color: var(--color-4);
  height: 3vw ;
  width: 11vw;
}