html {
  height: 100vh;
}

/*Modo verano*/
:root {
  /*colores*/
  --color-1: #0d0f21;
  --color-3: #6f6c81;
  --color-5: #e09a73;
  --color-9: #fff; 
  --color-10: #f0f0f0; 
}

/*Letras en mayusculas h1, h2, h3 y h4*/
h1,h2,h3,h4,h5 {
  text-transform: uppercase;
}
h1{
  font-size: var(--Th1);
}
h2{
  font-size: var(--Th1);
}
h3{
  font-size: var(--Th3);
}
h4{
  font-size: var(--Th4);
}
h5{
  font-size: var(--Th5);
}

p, a{
  font-size: var(--txtN);
}

/*Letra, sin margin, ni padding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  align-items: center;
}


/*Body*/
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-9);
  color: var(--color-1);
  overflow-x: hidden;
}

/* Estilos para el contenedor del menú */
.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: transparent;
  /* Fondo transparente con opacidad */
  z-index: 999;
}
/* Estilos para el logo y nombre de la empresa (nombreE) */
.nombreE {
  padding: 0.2vw;
  flex-grow: 1;
}
.nombreE img {
  max-width: 2.5vw;
  height: auto;
}


/*Container Practica con nosotros*/
.contenedorP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--tamano-contenedor);
  background-size:contain;
  background-position: center;
  color: var(--color-1);
  text-shadow: 1.5px 1px 1px var(--color-3);
  text-align: center;
}
/*login*/
.contenedorP h1{
  font-size: var(--tamano-letra);
}
.contenedorP #inicio{
  cursor: auto;
  color: var(--color-1);
  text-shadow: 1.5px 1px 1px var(--color-3);
  text-decoration: none;
  font-size: var(--txtN)*2;
}


/*Container razones*/
.contenedorT {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: var(--tamano-contenedor);
}
.textoT{
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--tamano-ancho);
}
/*contenedor razones de porque practicar con nosotros, parrafo*/
.textoT p {
  text-align: center; 
  max-width: 90%; 
  line-height: 1.6; 
  padding: 20px;
  background-color: var(--color-9);
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
/*contenedor razones de porque practicar con nosotros, parrafo, link conectando a practica ahora, que entre a carreras directamente*/
.contenedorT p a {
  text-decoration: none;
  color: var(--color-5);
}



/*Contenedor beneficios*/
.contenedorB {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:5px;
  height: var(--tamano-contenedor);
}
.card-containerB {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.cardB {
  width: 30%;
  padding: 20px;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}
.cardB img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.card-contentB {
  padding: 15px 0;
  text-align: center;
}
.cardB:hover {
  transform: translateY(-5px);
}


/*Container que ofrecemos*/
/*Texto titulo del contenedor que hacemos*/
.textoW {
  position: relative;
  text-align: center;
  align-items: center;
  height: var(--Th3)+10px;
}
.contenedorW {
  position: relative;
  display: flex;
  height: var(--tamano-contenedor);
}
/*Cards que giran*/
.cardsW {
  display: flex;
  flex: 60%;
  justify-content: space-between;
  height: 100%;
}
.cardW1 {
  width: 50%; 
  height: var(--tamano-contenedor); 
  align-items: center;
  justify-content: center;
}
.cardW2 {
  width: 50%; 
  height: var(--tamano-contenedor); 
  align-items: center;
  justify-content: center;
}
.card {
  height:var(--tamano-cardB);
  margin: 5px;
  perspective: 1000px; 
  border: 1px solid var(--color-10);
  text-align: center;
}
.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg); 
}
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Oculta la parte trasera durante la rotación */
}
.card-back {
  transform: rotateY(180deg); /* Inicialmente oculta la parte trasera */
}
/* Estilos adicionales para mejorar la apariencia */
.card-front,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.card-front {
  background-color: var(--color-9);
  color: var(--color-1);
}
.card-back {
  background-color: var(--color-9);
  color: var(--color-1);
}


/*Contenedor contactanos*/
.contenedorC{
  position: relative;
  height: var(--tamano-imagen);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgC {
  overflow: hidden;
  height: var(--tamano-imagen);
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*Img del contenedor Contactanos*/
.imgC img {
  width: auto;
  height: var(--tamano-imagen);
  display: block;
  background-color: transparent;
}

/*iconos*/
.iconC {
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 10px; 
  margin-bottom: 10px;
}
.iconC svg {
  width: var(--Th1); 
  height: var(--Th1); 
  margin-right: 10px; 
}
.iconC a {
  text-decoration: none;
  color: var(--color-1);
  cursor: pointer;
  margin-right: var(--Th1);
}


/*Tabla resumiendo lo nuestro*/
.tablaC {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
/*columnas, celdas*/
th,
td {
  border: none;
  padding: 8px;
  text-align: center;
}
/*primera fila en negrita*/
th {
  font-weight: bold;
}


/*scrollbar*/
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: 20px;
}

/*Celular*/
/* Media query para pantallas de celular en orientación vertical */
@media (max-width: 768px) {
  :root{
    /*tamaños*/
    --tamano-contenedor: 250px;
    --tamano-cardB: 110px;
    --tamano-imagen: 200px;
    --tamano-letra: 40px;

    /*fuentes*/
    --Th1: 24px;
    --Th2: 22.5px;
    --Th3: 21px;
    --Th4: 19.5px;
    --Th5: 18px;
  
    --txtN: 14px;
    }
}

/*Tablet*/
/* Media query para tablet en orientación vertical y horizontal */
@media (min-width: 768px) and (max-width: 1024px) {
  :root{
    /*tamaños*/
    --tamano-contenedor: 300px;
    --tamano-cardB: 140px;
    --tamano-imagen: 250px;
    --tamano-letra: 75px;

    /*fuentes*/
    --Th1: 30px;
    --Th2: 28px;
    --Th3: 26px;
    --Th4: 24px;
    --Th5: 22px;
  
    --txtN: 20px;
    }
}

/*Laptops*/
/* Media query para laptops */
@media (min-width: 1025px) and (max-width: 1440px) {
  :root{
    /*tamaños*/
    --tamano-contenedor: 450px;
    --tamano-ancho: 1025px;
    --tamano-cardB: 215px;
    --tamano-imagen: 400px;
    --tamano-letra: 90px;

    /*fuentes*/
    --Th1: 36px;
    --Th2: 33px;
    --Th3: 30px;
    --Th4: 27px;
    --Th5: 24px;
  
    --txtN: 21px;
    }
}

/*pc*/
/* Media query para monitores de escritorio */
@media (min-width: 1441px) {
  /**/
  :root{
  /*tamaños*/
  --tamano-contenedor: 600px;
  --tamano-ancho: 1025px;
  --tamano-cardB: 290px;
  --tamano-imagen: 550px;
  --tamano-letra: 100px;
  
  /*fuentes*/
  --Th1: 48px;
  --Th2: 43.5px;
  --Th3: 39px;
  --Th4: 34.5px;
  --Th5: 30px;

  --txtN: 26px;
  }
}
