html {
  height: 100vh;
}

/*Modo verano*/
:root {
  --color-1: #0d0f21;
  --color-2: #041f1e;
  --color-3: #6f6c81;
  --color-4: #ffe8d8;
  --color-5: #e09a73;
  --color-6: #ab595e;
  --color-7: #79352f;
  --color-8: #da2454;
}

/*Letras en mayusculas h1, h2, h3 y h4*/
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

/*Fonts h1, h2, h3 y h4*/
h1 {
  font-size: 2.7vw;
}

h2 {
  font-size: 2.5vw;
}

h3 {
  font-size: 2.3vw;
}

h4 {
  font-size: 2.1vw;
}

h5 {
  font-size: 1.9vw;
}

p {
  font-size: 1.7vw;
}

/*Letra, sin margin, ni padding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

/*Letra, sin margin, ni padding*/
/*Body*/
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-4);
  color: var(--color-1);
  overflow-x: hidden;
}

/* Estilos para el contenedor del menú */
.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: transparent;
  /* Fondo transparente con opacidad */
  z-index: 999;
}

/* Estilos para el logo y nombre de la empresa (nombreE) */
.nombreE {
  padding: 0.2vw;
  flex-grow: 1;
}

.nombreE img {
  max-width: 2.5vw;
  /* Tamaño relativo al ancho del contenedor */
  height: auto;
  /* Altura automática para mantener la proporción */
}

/* Estilos para el botón de inicio de sesión (inicio-usuario) */
.inicio-usuario a {
  font-size: 2.5vw;
  padding: 0.2vw;
  border-radius: 5px;
  color: var(--color-5);
  /* Color del texto */
  transition: background-color 0.3s;
  /* Transición suave para el cambio de color de fondo */
}

.inicio-usuario a:hover {
  background-color: var(--color-7);
  /* Cambia el color de fondo al pasar el cursor sobre el enlace */
}

/* Estilos para el icono de usuario */
#usuario {
  font-size: 2.5vw;
  /* Tamaño relativo al ancho del contenedor */
  color: var(--color-5);
  /* Color personalizado para el icono */
}


/*Container Practica con nosotros*/
.contenedorP {
  position: relative;
  top: 0%;
  background-size: cover;
  background-position: center;
  padding: 10%;
  color: var(--color-4);
  text-shadow: 1.5px 1px 1px var(--color-8);
  text-align: center;
}

/*Container Practica con nosotros*/
/*contenedor razones de porque practicar con nosotros*/
.contenedorT {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/*contenedor razones de porque practicar con nosotros*/
/*contenedor razones de porque practicar con nosotros, parrafo*/
.contenedorT p {
  width: 65%;
  height: 50%;
  margin-left: 5%;
}

/*contenedor razones de porque practicar con nosotros, parrafo*/
/*contenedor razones de porque practicar con nosotros, parrafo, link conectando a practica ahora, que entre a carreras directamente*/
.contenedorT p a {
  text-decoration: none;
  color: var(--color-5);
}

/*contenedor razones de porque practicar con nosotros, parrafo, link conectando a practica ahora, que entre a carreras directamente*/
.contenedorT .imgT {
  width: 60%;
}

/*contenedor razones de porque practicar con nosotros, parrafo, link conectando a practica ahora, que entre a carreras directamente*/
/*contenedor razones de porque practicar con nosotros, imagen*/
.contenedorT img {
  width: 50%;
}

/*contenedor razones de porque practicar con nosotros, imagen*/
/*Contenedor beneficios*/
/*Titulo de beneficios*/
.textoB {
  position: relative;
  padding: 10px;
  z-index: 999;
  text-align: center;
}

/*contenedor beneficios */
.contenedorB {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 1%;
}

/*contenedor beneficios */

/*tablaB img*/
.tablaB img {
  width: 25vw;
  height: 20vw;
}

/*tablaB img*/

th {
  font-size: 2vw;
}

tr {
  font-size: 1.7vw;
}

/*Texto titulo del contenedor que hacemos*/
.textoW {
  position: relative;
  text-align: center;
  align-items: center;
}

/*Texto titulo del contenedor que hacemos*/

/*Container que hacemos*/
.contenedorW {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 10px;
}

/*Estilos para los contenedores 1 y 2*/
.contenedor {
  position: relative;
  width: 100%;
  height: 200px;
  border-collapse: collapse;
}
.contenedorW .texto{
  position: absolute;
  margin: 10px;
}
.contenedorW .imagen{
  position: absolute;
  right: 0px;
  margin: 10px;
}
/* Estilos para el encabezado */
.texto h3 {
  font-size: 24px;
  color: var(--color-1);
}

/* Estilos para el párrafo */
.texto p {
  font-size: 16px;
  color: var(--color-1);
}

/* Estilos para la imagen */
.imagen img {
  width: 180px; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para los botones de navegación */
button.ant,
button.sig {
  position: absolute;
  top: 50%;
  /* Posiciona los botones verticalmente al centro del contenedor */
  transform: translateY(-50%);
  /* Ajusta la posición vertical */
  font-size: 3.5vw;
  /* Tamaño del icono */
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Estilos para los botones de navegación */

/*Boton del contenedor beneficios*/
/*Boton anterior*/
button.ant {
  left: 10px;
}

/*Boton anterior*/
/*Boton siguiente*/
button.sig {
  right: 10px;
}


/*Contenedor contactanos*/
/*Titulo de contenedor contactanos*/
.textoC {
  position: relative;
  height: 35px;
  text-align: center;
}
.imgC {
  overflow: hidden;
  width: 100%;
}
/*Img del contenedor Contactanos*/
.imgC img {
  width: 100%;
  height: auto;
  display: block;
}
/*Tabla resumiendo lo nuestro*/
.tablaC {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
/*columnas, celdas*/
th,
td {
  border: none;
  padding: 8px;
  text-align: center;
}
/*primera fila en negrita*/
th {
  font-weight: bold;
}

/*scrollbar*/
body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-7);
  border-radius: 20px;
}